<div
  class="movable-element item-content"
  cdkDrag
  cdkDragBoundary=".main-content"
  *ngIf="item"
  (cdkDragStarted)="onDragStarted($event)"
  (cdkDragEnded)="onDragEnded($event)"
>
  <h3>{{ item.table }}</h3>
  <ul>
    <li *ngFor="let key of item.keys;">
      <div style="display: flex; align-items: center; flex: 1">
        <span
          >{{ key.keyName | titlecase }} <b>({{ key.type }})</b>
        </span>
        <i
          class="pi pi-key"
          *ngIf="key.isPrimaryKey"
          style="margin-left: 5px"
        ></i>
      </div>
      <div>
        <button
          pButton
          type="button"
          (click)="deleteKey(key, item.id)"
          icon="pi pi-times"
          class="p-button-danger p-button-outlined"
        ></button>
      </div>
      <hr class="item-separator" />
    </li>
  </ul>
</div>
