header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
  height: 50px;
}

.button-group button {
  margin-left: 10px;
}
aside {
  width: 250px;
  float: left;
}

main {
  margin-left: 250px;
  padding: 10px;
}

button {
  margin-left: 10px;
}

.main-content {
  padding: 10px;
  height: calc(100vh - 64px);
  border: 1px solid #ccc;
  position: relative;
}

p-accordion {
  margin-top: 10px;
}

p-accordionTab-header {
  background-color: #f5f5f5;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

p-accordionTab-content {
  padding: 10px;
}

.p-sidebar {
  width: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  